In [1]:
import os
import csv
import json
import datetime
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [ ]:
# File Name for the Final COVID DataFrame
# dtfrm_file_nm = "ASN_Table.csv"

# ========================================

# Importing Data

# ========================================

# ---------------------------------------------------------------------

## Import bts.gov Trip Data

# ---------------------------------------------------------------------

In [2]:
# File Path for Importing the bts.gov Trips Data .csv File
bts_gov_trps_file_pth = os.path.join("Resources", "bts.gov", "Trips_by_Distance.csv")

# Convert the CSV to a Dataframe
bts_gov_trps_df = pd.read_csv(bts_gov_trps_file_pth)

In [3]:
bts_gov_trps_df.head()

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,2019/01/01,29.0,MO,29171.0,Putnam County,"1,155","3,587","12,429","2,807","3,642","1,272","1,240","1,953","1,058",283,101,54,19
1,County,2019/01/01,2.0,AK,2164.0,Lake and Peninsula Borough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,County,2019/01/01,1.0,AL,1001.0,Autauga County,"9,624","45,807","132,004","27,097","35,263","18,315","18,633","22,963","5,149","2,575","1,592",322,95
3,County,2019/01/01,1.0,AL,1003.0,Baldwin County,"44,415","172,941","534,520","120,752","142,931","68,235","87,430","78,045","24,495","7,079","3,188","1,693",672
4,County,2019/01/01,1.0,AL,1005.0,Barbour County,"4,782","20,023","67,658","15,524","16,677","10,550","11,674","6,416","3,686","2,450",589,66,26

In [4]:
print(bts_gov_trps_df.count())

Level                             2207054
Date                              2207054
State FIPS                        2206363
State Postal Code                 2206363
County FIPS                       2171122
County Name                       2171122
Population Staying at Home        2183943
Population Not Staying at Home    2183943
Number of Trips                   2183943
Number of Trips <1                2183943
Number of Trips 1-3               2183943
Number of Trips 3-5               2183943
Number of Trips 5-10              2183943
Number of Trips 10-25             2183943
Number of Trips 25-50             2183943
Number of Trips 50-100            2183943
Number of Trips 100-250           2183943
Number of Trips 250-500           2183943
Number of Trips >=500             2183943
dtype: int64

In [5]:
bts_gov_trps_df.dtypes

Level                              object
Date                               object
State FIPS                        float64
State Postal Code                  object
County FIPS                       float64
County Name                        object
Population Staying at Home         object
Population Not Staying at Home     object
Number of Trips                    object
Number of Trips <1                 object
Number of Trips 1-3                object
Number of Trips 3-5                object
Number of Trips 5-10               object
Number of Trips 10-25              object
Number of Trips 25-50              object
Number of Trips 50-100             object
Number of Trips 100-250            object
Number of Trips 250-500            object
Number of Trips >=500              object
dtype: object

# ---------------------------------------------------------------------

## Import New York Times COVID-19 Data

# ---------------------------------------------------------------------

In [6]:
# File Path for Importing the New York Times COVID-19 Data .csv File
nytimes_covid_19_file_pth = os.path.join("Resources", "github.com_nytimes_covid_19_data", "us-counties20200121_to_20201130.csv")

# Convert the CSV to a Dataframe
nytimes_covid_19_df = pd.read_csv(nytimes_covid_19_file_pth)

In [7]:
nytimes_covid_19_df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [8]:
print(nytimes_covid_19_df.count())

date      784213
county    784213
state     784213
fips      776761
cases     784213
deaths    767870
dtype: int64

In [9]:
nytimes_covid_19_df.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths    float64
dtype: object

# ========================================

# Null Values

# ========================================

# ---------------------------------------------------------------------

## bts.gov Trip Data Null Values

# ---------------------------------------------------------------------

In [13]:
# Returns true if the column has null values
bts_gov_trps_df.isnull().any()
# OR
# bts_gov_trps_df.isnull().any(axis=0) #(axis=0 is the defult)

Level                             False
Date                              False
State FIPS                         True
State Postal Code                  True
County FIPS                        True
County Name                        True
Population Staying at Home         True
Population Not Staying at Home     True
Number of Trips                    True
Number of Trips <1                 True
Number of Trips 1-3                True
Number of Trips 3-5                True
Number of Trips 5-10               True
Number of Trips 10-25              True
Number of Trips 25-50              True
Number of Trips 50-100             True
Number of Trips 100-250            True
Number of Trips 250-500            True
Number of Trips >=500              True
dtype: bool

In [16]:
# Returns a Dataframe Containing Only the Rows With Null Values
bts_gov_trps_df_NULL_VALUES = bts_gov_trps_df[bts_gov_trps_df.isnull().any(axis=1)]

# Returns the Number of Cells Within a Column With Null Values
print(bts_gov_trps_df_NULL_VALUES.count())
bts_gov_trps_df_NULL_VALUES

Level                             59043
Date                              59043
State FIPS                        58352
State Postal Code                 58352
County FIPS                       23111
County Name                       23111
Population Staying at Home        35932
Population Not Staying at Home    35932
Number of Trips                   35932
Number of Trips <1                35932
Number of Trips 1-3               35932
Number of Trips 3-5               35932
Number of Trips 5-10              35932
Number of Trips 10-25             35932
Number of Trips 25-50             35932
Number of Trips 50-100            35932
Number of Trips 100-250           35932
Number of Trips 250-500           35932
Number of Trips >=500             35932
dtype: int64

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
1,County,2019/01/01,2.0,AK,2164.0,Lake and Peninsula Borough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,County,2019/01/01,2.0,AK,2230.0,Skagway Municipality,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,County,2019/01/01,2.0,AK,2282.0,Yakutat City and Borough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,County,2019/01/01,15.0,HI,15005.0,Kalawao County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
824,County,2019/01/01,31.0,NE,31005.0,Arthur County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207049,National,2020/11/17,NaN,NaN,NaN,NaN,"97,573,501","229,593,933","989,568,973","234,805,101","259,934,985","122,714,018","150,290,148","145,112,889","49,573,515","16,971,134","7,726,729","1,711,083","729,371"
2207050,National,2020/11/18,NaN,NaN,NaN,NaN,"95,954,135","231,213,299","1,027,444,626","248,373,480","269,543,706","126,367,337","154,455,563","149,041,180","51,172,462","17,999,411","7,953,887","1,787,348","750,252"
2207051,National,2020/11/19,NaN,NaN,NaN,NaN,"93,468,789","233,698,645","1,023,244,380","247,800,254","266,987,840","125,041,236","152,756,826","147,639,120","52,272,385","20,187,095","8,050,777","1,765,481","743,366"
2207052,National,2020/11/20,NaN,NaN,NaN,NaN,"92,068,777","235,098,657","956,927,423","223,417,886","244,773,240","117,098,300","143,579,157","139,779,548","53,139,601","23,609,611","8,890,314","1,864,123","775,643"
2207053,National,2020/11/21,NaN,NaN,NaN,NaN,"97,329,319","229,838,115","922,868,472","212,777,197","233,965,980","113,197,921","138,925,704","135,239,553","52,838,748","25,181,630","8,163,466","1,786,976","791,297"

# ---------------------------------------------------------------------

### Dateframe with Totals for each State and the Nation Per Day

# ---------------------------------------------------------------------

In [29]:
# Array of the Columns Where the Null Values will be Converted to 0
# These are the Columns that Should Have a Zero Values Instead of a Null Values
clmns_to_cnvrt_null_vls_to_0 =["Population Staying at Home", "Population Not Staying at Home","Number of Trips","Number of Trips <1", "Number of Trips 1-3", "Number of Trips 1-3", "Number of Trips 3-5", "Number of Trips 5-10", "Number of Trips 10-25", "Number of Trips 25-50", "Number of Trips 50-100", "Number of Trips 100-250", "Number of Trips 250-500", "Number of Trips >=500"]

In [19]:
# Drop the Rows that With Null Values (NaN) in ALL the Columns in the ["clmns_to_cnvrt_null_vls_to_0"] array: if All the Values are Null.
bts_gov_trps_df_NULL_VALUES_lvl_st_ntnl = bts_gov_trps_df_NULL_VALUES.dropna(how="all", subset=clmns_to_cnvrt_null_vls_to_0)
print(bts_gov_trps_df_NULL_VALUES_lvl_st_ntnl.count())
bts_gov_trps_df_NULL_VALUES_lvl_st_ntnl

Level                             35932
Date                              35932
State FIPS                        35241
State Postal Code                 35241
County FIPS                           0
County Name                           0
Population Staying at Home        35932
Population Not Staying at Home    35932
Number of Trips                   35932
Number of Trips <1                35932
Number of Trips 1-3               35932
Number of Trips 3-5               35932
Number of Trips 5-10              35932
Number of Trips 10-25             35932
Number of Trips 25-50             35932
Number of Trips 50-100            35932
Number of Trips 100-250           35932
Number of Trips 250-500           35932
Number of Trips >=500             35932
dtype: int64

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
15710,State,2019/01/01,25.0,MA,NaN,NaN,"1,798,521","5,082,532","22,181,890","6,078,316","5,980,407","2,680,470","3,106,759","2,817,590","1,021,091","316,642","104,691","18,791","57,133"
15711,State,2019/01/01,26.0,MI,NaN,NaN,"2,342,813","7,622,550","26,701,254","6,633,681","6,893,858","3,358,485","4,024,493","3,681,856","1,264,454","479,687","242,283","55,384","67,073"
15712,State,2019/01/01,27.0,MN,NaN,NaN,"1,266,769","4,327,262","15,278,584","3,589,616","3,806,602","1,772,986","2,246,949","2,419,710","830,948","337,906","187,197","42,524","44,146"
15713,State,2019/01/01,28.0,MS,NaN,NaN,"596,999","2,380,405","7,297,125","1,787,312","1,930,713","884,893","1,102,272","934,487","355,845","178,107","92,480","24,396","6,620"
15714,State,2019/01/01,29.0,MO,NaN,NaN,"1,530,765","4,576,960","16,618,431","4,033,851","4,385,048","2,036,854","2,526,033","2,313,883","809,030","290,444","154,169","39,949","29,170"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207049,National,2020/11/17,NaN,NaN,NaN,NaN,"97,573,501","229,593,933","989,568,973","234,805,101","259,934,985","122,714,018","150,290,148","145,112,889","49,573,515","16,971,134","7,726,729","1,711,083","729,371"
2207050,National,2020/11/18,NaN,NaN,NaN,NaN,"95,954,135","231,213,299","1,027,444,626","248,373,480","269,543,706","126,367,337","154,455,563","149,041,180","51,172,462","17,999,411","7,953,887","1,787,348","750,252"
2207051,National,2020/11/19,NaN,NaN,NaN,NaN,"93,468,789","233,698,645","1,023,244,380","247,800,254","266,987,840","125,041,236","152,756,826","147,639,120","52,272,385","20,187,095","8,050,777","1,765,481","743,366"
2207052,National,2020/11/20,NaN,NaN,NaN,NaN,"92,068,777","235,098,657","956,927,423","223,417,886","244,773,240","117,098,300","143,579,157","139,779,548","53,139,601","23,609,611","8,890,314","1,864,123","775,643"
2207053,National,2020/11/21,NaN,NaN,NaN,NaN,"97,329,319","229,838,115","922,868,472","212,777,197","233,965,980","113,197,921","138,925,704","135,239,553","52,838,748","25,181,630","8,163,466","1,786,976","791,297"

#### The Above Dataframe Looks Like the Totals for Each State and the Nation Per Day.

# ---------------------------------------------------------------------

### Dataframe With Each State's Total Trips Per Day

# ---------------------------------------------------------------------

In [20]:
# Dataframe With the Total State Trips Per Day
bts_gov_trps_df_NULL_VALUES_lvl_st = bts_gov_trps_df_NULL_VALUES_lvl_st_ntnl.dropna(how="all", subset=["State Postal Code"])
print(bts_gov_trps_df_NULL_VALUES_lvl_st.count())
bts_gov_trps_df_NULL_VALUES_lvl_st

Level                             35241
Date                              35241
State FIPS                        35241
State Postal Code                 35241
County FIPS                           0
County Name                           0
Population Staying at Home        35241
Population Not Staying at Home    35241
Number of Trips                   35241
Number of Trips <1                35241
Number of Trips 1-3               35241
Number of Trips 3-5               35241
Number of Trips 5-10              35241
Number of Trips 10-25             35241
Number of Trips 25-50             35241
Number of Trips 50-100            35241
Number of Trips 100-250           35241
Number of Trips 250-500           35241
Number of Trips >=500             35241
dtype: int64

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
15710,State,2019/01/01,25.0,MA,NaN,NaN,"1,798,521","5,082,532","22,181,890","6,078,316","5,980,407","2,680,470","3,106,759","2,817,590","1,021,091","316,642","104,691","18,791","57,133"
15711,State,2019/01/01,26.0,MI,NaN,NaN,"2,342,813","7,622,550","26,701,254","6,633,681","6,893,858","3,358,485","4,024,493","3,681,856","1,264,454","479,687","242,283","55,384","67,073"
15712,State,2019/01/01,27.0,MN,NaN,NaN,"1,266,769","4,327,262","15,278,584","3,589,616","3,806,602","1,772,986","2,246,949","2,419,710","830,948","337,906","187,197","42,524","44,146"
15713,State,2019/01/01,28.0,MS,NaN,NaN,"596,999","2,380,405","7,297,125","1,787,312","1,930,713","884,893","1,102,272","934,487","355,845","178,107","92,480","24,396","6,620"
15714,State,2019/01/01,29.0,MO,NaN,NaN,"1,530,765","4,576,960","16,618,431","4,033,851","4,385,048","2,036,854","2,526,033","2,313,883","809,030","290,444","154,169","39,949","29,170"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207042,State,2020/11/21,10.0,DE,NaN,NaN,"277,495","689,676","2,832,707","604,972","713,195","369,273","454,354","401,164","180,043","91,437","16,663",915,691
2207043,State,2020/11/21,23.0,ME,NaN,NaN,"405,767","932,637","3,482,073","636,056","851,371","440,434","555,144","603,887","243,648","110,970","33,916","4,585","2,062"
2207044,State,2020/11/21,40.0,OK,NaN,NaN,"1,121,125","2,821,954","10,725,736","2,421,533","2,736,594","1,229,055","1,588,849","1,638,856","616,443","346,034","122,738","20,359","5,275"
2207045,State,2020/11/21,55.0,WI,NaN,NaN,"1,708,357","4,105,211","15,988,642","3,415,712","3,963,118","1,993,093","2,440,392","2,442,194","990,260","508,393","184,244","41,181","10,055"
2207046,State,2020/11/21,54.0,WV,NaN,NaN,"542,360","1,263,472","4,716,158","914,230","1,149,336","575,879","724,394","735,706","347,771","213,289","46,164","7,524","1,865"

In [33]:
# Which Columns Have Null Values in the State Level Dataframe
bts_gov_trps_df_NULL_VALUES_lvl_st.isnull().any()

Level                             False
Date                              False
State FIPS                        False
State Postal Code                 False
County FIPS                        True
County Name                        True
Population Staying at Home        False
Population Not Staying at Home    False
Number of Trips                   False
Number of Trips <1                False
Number of Trips 1-3               False
Number of Trips 3-5               False
Number of Trips 5-10              False
Number of Trips 10-25             False
Number of Trips 25-50             False
Number of Trips 50-100            False
Number of Trips 100-250           False
Number of Trips 250-500           False
Number of Trips >=500             False
dtype: bool

#### Correct, Only the County Columns have Null Values. Since This is a Daily State Totals Dataframe.

# ---------------------------------------------------------------------

### Dataframe With Total National Trips Per Day

# ---------------------------------------------------------------------

In [28]:
# Dataframe the Total National Trips Per Day
bts_gov_trps_df_NULL_VALUES_lvl_ntnl = bts_gov_trps_df_NULL_VALUES_lvl_st_ntnl[bts_gov_trps_df_NULL_VALUES_lvl_st_ntnl["Level"] == "National"]
print(bts_gov_trps_df_NULL_VALUES_lvl_ntnl.count())
bts_gov_trps_df_NULL_VALUES_lvl_ntnl

Level                             691
Date                              691
State FIPS                          0
State Postal Code                   0
County FIPS                         0
County Name                         0
Population Staying at Home        691
Population Not Staying at Home    691
Number of Trips                   691
Number of Trips <1                691
Number of Trips 1-3               691
Number of Trips 3-5               691
Number of Trips 5-10              691
Number of Trips 10-25             691
Number of Trips 25-50             691
Number of Trips 50-100            691
Number of Trips 100-250           691
Number of Trips 250-500           691
Number of Trips >=500             691
dtype: int64

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
15965,National,2019/01/01,NaN,NaN,NaN,NaN,"77,433,867","248,733,553","897,784,368","241,667,151","234,284,795","108,078,903","129,670,778","116,904,343","40,432,062","15,686,639","7,525,563","1,806,022","1,728,112"
15966,National,2019/01/02,NaN,NaN,NaN,NaN,"61,305,201","264,862,219","1,139,452,281","291,276,735","285,887,315","138,039,296","171,637,514","167,412,698","56,148,976","17,739,183","7,817,044","1,962,301","1,531,219"
15967,National,2019/01/03,NaN,NaN,NaN,NaN,"63,050,480","263,116,940","1,162,752,684","296,375,014","290,074,425","140,771,581","175,775,410","172,027,487","57,632,422","18,366,626","8,124,548","2,038,099","1,567,072"
15968,National,2019/01/04,NaN,NaN,NaN,NaN,"61,803,652","264,363,768","1,181,953,829","293,159,631","295,643,296","145,251,819","181,324,645","176,144,493","58,761,592","19,315,785","8,687,318","2,096,065","1,569,185"
15969,National,2019/01/05,NaN,NaN,NaN,NaN,"64,389,745","261,777,675","1,180,476,620","295,459,014","304,168,709","148,540,651","180,941,769","165,239,790","54,842,134","19,363,939","8,490,791","1,991,159","1,438,664"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207049,National,2020/11/17,NaN,NaN,NaN,NaN,"97,573,501","229,593,933","989,568,973","234,805,101","259,934,985","122,714,018","150,290,148","145,112,889","49,573,515","16,971,134","7,726,729","1,711,083","729,371"
2207050,National,2020/11/18,NaN,NaN,NaN,NaN,"95,954,135","231,213,299","1,027,444,626","248,373,480","269,543,706","126,367,337","154,455,563","149,041,180","51,172,462","17,999,411","7,953,887","1,787,348","750,252"
2207051,National,2020/11/19,NaN,NaN,NaN,NaN,"93,468,789","233,698,645","1,023,244,380","247,800,254","266,987,840","125,041,236","152,756,826","147,639,120","52,272,385","20,187,095","8,050,777","1,765,481","743,366"
2207052,National,2020/11/20,NaN,NaN,NaN,NaN,"92,068,777","235,098,657","956,927,423","223,417,886","244,773,240","117,098,300","143,579,157","139,779,548","53,139,601","23,609,611","8,890,314","1,864,123","775,643"
2207053,National,2020/11/21,NaN,NaN,NaN,NaN,"97,329,319","229,838,115","922,868,472","212,777,197","233,965,980","113,197,921","138,925,704","135,239,553","52,838,748","25,181,630","8,163,466","1,786,976","791,297"

In [34]:
# Which Columns Have Null Values in the National Level Dataframe
bts_gov_trps_df_NULL_VALUES_lvl_ntnl.isnull().any()

Level                             False
Date                              False
State FIPS                         True
State Postal Code                  True
County FIPS                        True
County Name                        True
Population Staying at Home        False
Population Not Staying at Home    False
Number of Trips                   False
Number of Trips <1                False
Number of Trips 1-3               False
Number of Trips 3-5               False
Number of Trips 5-10              False
Number of Trips 10-25             False
Number of Trips 25-50             False
Number of Trips 50-100            False
Number of Trips 100-250           False
Number of Trips 250-500           False
Number of Trips >=500             False
dtype: bool

#### Correct, the State and County Columns have Null Values. Since This is a Daily National Totals Dataframe.

In [ ]:
bts_gov_trps_df_NULL_VALUES_lvl_ntnl = bts_gov_trps_df_NULL_VALUES_lvl_ntnl

# ---------------------------------------------------------------------

### Dataframe With Total County Trips Per Day

# ---------------------------------------------------------------------

In [37]:
# Dataframe the Total County Trips Per Day
bts_gov_trps_df_lvl_cnty = bts_gov_trps_df[bts_gov_trps_df["Level"] == "County"]
print(bts_gov_trps_df_lvl_cnty.count())
bts_gov_trps_df_lvl_cnty

Level                             2171122
Date                              2171122
State FIPS                        2171122
State Postal Code                 2171122
County FIPS                       2171122
County Name                       2171122
Population Staying at Home        2148011
Population Not Staying at Home    2148011
Number of Trips                   2148011
Number of Trips <1                2148011
Number of Trips 1-3               2148011
Number of Trips 3-5               2148011
Number of Trips 5-10              2148011
Number of Trips 10-25             2148011
Number of Trips 25-50             2148011
Number of Trips 50-100            2148011
Number of Trips 100-250           2148011
Number of Trips 250-500           2148011
Number of Trips >=500             2148011
dtype: int64

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,2019/01/01,29.0,MO,29171.0,Putnam County,"1,155","3,587","12,429","2,807","3,642","1,272","1,240","1,953","1,058",283,101,54,19
1,County,2019/01/01,2.0,AK,2164.0,Lake and Peninsula Borough,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,County,2019/01/01,1.0,AL,1001.0,Autauga County,"9,624","45,807","132,004","27,097","35,263","18,315","18,633","22,963","5,149","2,575","1,592",322,95
3,County,2019/01/01,1.0,AL,1003.0,Baldwin County,"44,415","172,941","534,520","120,752","142,931","68,235","87,430","78,045","24,495","7,079","3,188","1,693",672
4,County,2019/01/01,1.0,AL,1005.0,Barbour County,"4,782","20,023","67,658","15,524","16,677","10,550","11,674","6,416","3,686","2,450",589,66,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206685,County,2020/11/21,1.0,AL,1069.0,Houston County,"24,720","80,002","298,997","62,668","78,519","41,735","48,030","37,613","14,676","10,355","4,600",671,130
2206686,County,2020/11/21,1.0,AL,1071.0,Jackson County,"12,375","39,361","131,381","19,977","28,274","15,813","26,046","22,046","13,602","4,024","1,307",273,19
2206687,County,2020/11/21,1.0,AL,1073.0,Jefferson County,"185,120","474,180","1,654,411","365,837","396,524","213,521","263,992","276,104","79,829","36,410","17,639","3,768",787
2206688,County,2020/11/21,1.0,AL,1075.0,Lamar County,"2,252","11,592","39,834","4,939","8,482","3,879","7,057","8,006","3,961","2,913",565,32,0
2206689,County,2020/11/21,1.0,AL,1077.0,Lauderdale County,"22,675","69,712","279,188","67,436","70,502","37,672","39,896","38,978","11,232","9,696","3,391",331,54

In [38]:
# Which Columns Have Null Values in the County Level Dataframe
bts_gov_trps_df_lvl_cnty.isnull().any()

Level                             False
Date                              False
State FIPS                        False
State Postal Code                 False
County FIPS                       False
County Name                       False
Population Staying at Home         True
Population Not Staying at Home     True
Number of Trips                    True
Number of Trips <1                 True
Number of Trips 1-3                True
Number of Trips 3-5                True
Number of Trips 5-10               True
Number of Trips 10-25              True
Number of Trips 25-50              True
Number of Trips 50-100             True
Number of Trips 100-250            True
Number of Trips 250-500            True
Number of Trips >=500              True
dtype: bool

#### #### I am Not Sure Why the Population and Trips Columns Have Null Values. I am Assuming They are Null Because No Trips Were Taken?

In [ ]:
bts_gov_trps_df_NULL_VALUES_null_dltd["Level"].unique()

# ---------------------------------------------------------------------

#### Convert All the Null Values in the "clmns_to_cnvrt_null_vls_to_0" Array to Zero

# ---------------------------------------------------------------------

In [39]:
bts_gov_trps_df_lvl_cnty[clmns_to_cnvrt_null_vls_to_0] = bts_gov_trps_df_lvl_cnty[clmns_to_cnvrt_null_vls_to_0].replace(np.nan, 0)
bts_gov_trps_df_lvl_cnty

/Users/vincentadams/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,2019/01/01,29.0,MO,29171.0,Putnam County,"1,155","3,587","12,429","2,807","3,642","1,272","1,240","1,953","1,058",283,101,54,19
1,County,2019/01/01,2.0,AK,2164.0,Lake and Peninsula Borough,0,0,0,0,0,0,0,0,0,0,0,0,0
2,County,2019/01/01,1.0,AL,1001.0,Autauga County,"9,624","45,807","132,004","27,097","35,263","18,315","18,633","22,963","5,149","2,575","1,592",322,95
3,County,2019/01/01,1.0,AL,1003.0,Baldwin County,"44,415","172,941","534,520","120,752","142,931","68,235","87,430","78,045","24,495","7,079","3,188","1,693",672
4,County,2019/01/01,1.0,AL,1005.0,Barbour County,"4,782","20,023","67,658","15,524","16,677","10,550","11,674","6,416","3,686","2,450",589,66,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206685,County,2020/11/21,1.0,AL,1069.0,Houston County,"24,720","80,002","298,997","62,668","78,519","41,735","48,030","37,613","14,676","10,355","4,600",671,130
2206686,County,2020/11/21,1.0,AL,1071.0,Jackson County,"12,375","39,361","131,381","19,977","28,274","15,813","26,046","22,046","13,602","4,024","1,307",273,19
2206687,County,2020/11/21,1.0,AL,1073.0,Jefferson County,"185,120","474,180","1,654,411","365,837","396,524","213,521","263,992","276,104","79,829","36,410","17,639","3,768",787
2206688,County,2020/11/21,1.0,AL,1075.0,Lamar County,"2,252","11,592","39,834","4,939","8,482","3,879","7,057","8,006","3,961","2,913",565,32,0
2206689,County,2020/11/21,1.0,AL,1077.0,Lauderdale County,"22,675","69,712","279,188","67,436","70,502","37,672","39,896","38,978","11,232","9,696","3,391",331,54

In [40]:
# Which Columns Have Null Values in the County Level Dataframe
bts_gov_trps_df_lvl_cnty.isnull().any()

Level                             False
Date                              False
State FIPS                        False
State Postal Code                 False
County FIPS                       False
County Name                       False
Population Staying at Home        False
Population Not Staying at Home    False
Number of Trips                   False
Number of Trips <1                False
Number of Trips 1-3               False
Number of Trips 3-5               False
Number of Trips 5-10              False
Number of Trips 10-25             False
Number of Trips 25-50             False
Number of Trips 50-100            False
Number of Trips 100-250           False
Number of Trips 250-500           False
Number of Trips >=500             False
dtype: bool

#### Correct, Now all the Columns Have a Value.

# ========================================

# Convert the Date Column to a datetime Date Type & Convert the Other Columns with Numbers into an int64 Data Type

# ========================================

# ---------------------------------------------------------------------

## bts.gov Trip Data

# ---------------------------------------------------------------------

# ---------------------------------------------------------------------

### The County Level Dataframe

# ---------------------------------------------------------------------

# ---------------------------------------------------------------------

#### Remove the Commas in the County Level Dataframe

# ---------------------------------------------------------------------

In [46]:
# Remove the Commas from the [clmns_to_cnvrt_null_vls_to_0] Array.
bts_gov_trps_df_lvl_cnty_no_cmms = bts_gov_trps_df_lvl_cnty
bts_gov_trps_df_lvl_cnty_no_cmms[clmns_to_cnvrt_null_vls_to_0] = bts_gov_trps_df_lvl_cnty[clmns_to_cnvrt_null_vls_to_0].replace(',','', regex=True)
bts_gov_trps_df_lvl_cnty_no_cmms

/Users/vincentadams/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Level,Date,State FIPS,State Postal Code,County FIPS,County Name,Population Staying at Home,Population Not Staying at Home,Number of Trips,Number of Trips <1,Number of Trips 1-3,Number of Trips 3-5,Number of Trips 5-10,Number of Trips 10-25,Number of Trips 25-50,Number of Trips 50-100,Number of Trips 100-250,Number of Trips 250-500,Number of Trips >=500
0,County,2019/01/01,29.0,MO,29171.0,Putnam County,1155,3587,12429,2807,3642,1272,1240,1953,1058,283,101,54,19
1,County,2019/01/01,2.0,AK,2164.0,Lake and Peninsula Borough,0,0,0,0,0,0,0,0,0,0,0,0,0
2,County,2019/01/01,1.0,AL,1001.0,Autauga County,9624,45807,132004,27097,35263,18315,18633,22963,5149,2575,1592,322,95
3,County,2019/01/01,1.0,AL,1003.0,Baldwin County,44415,172941,534520,120752,142931,68235,87430,78045,24495,7079,3188,1693,672
4,County,2019/01/01,1.0,AL,1005.0,Barbour County,4782,20023,67658,15524,16677,10550,11674,6416,3686,2450,589,66,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2206685,County,2020/11/21,1.0,AL,1069.0,Houston County,24720,80002,298997,62668,78519,41735,48030,37613,14676,10355,4600,671,130
2206686,County,2020/11/21,1.0,AL,1071.0,Jackson County,12375,39361,131381,19977,28274,15813,26046,22046,13602,4024,1307,273,19
2206687,County,2020/11/21,1.0,AL,1073.0,Jefferson County,185120,474180,1654411,365837,396524,213521,263992,276104,79829,36410,17639,3768,787
2206688,County,2020/11/21,1.0,AL,1075.0,Lamar County,2252,11592,39834,4939,8482,3879,7057,8006,3961,2913,565,32,0
2206689,County,2020/11/21,1.0,AL,1077.0,Lauderdale County,22675,69712,279188,67436,70502,37672,39896,38978,11232,9696,3391,331,54

In [51]:
# View Data Types
bts_gov_trps_df_lvl_cnty_no_cmms.dtypes

Level                              object
Date                               object
State FIPS                        float64
State Postal Code                  object
County FIPS                       float64
County Name                        object
Population Staying at Home          int64
Population Not Staying at Home      int64
Number of Trips                     int64
Number of Trips <1                  int64
Number of Trips 1-3                 int64
Number of Trips 3-5                 int64
Number of Trips 5-10                int64
Number of Trips 10-25               int64
Number of Trips 25-50               int64
Number of Trips 50-100              int64
Number of Trips 100-250             int64
Number of Trips 250-500             int64
Number of Trips >=500               int64
dtype: object

In [48]:
# Change the Data Type of the Columns in the [clmns_to_cnvrt_null_vls_to_0] Array from a String to a int64
bts_gov_trps_df_lvl_cnty_no_cmms_int64 = bts_gov_trps_df_lvl_cnty_no_cmms
bts_gov_trps_df_lvl_cnty_no_cmms_int64[clmns_to_cnvrt_null_vls_to_0] = bts_gov_trps_df_lvl_cnty_no_cmms_int64[clmns_to_cnvrt_null_vls_to_0].astype("int64")

15524

/Users/vincentadams/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [50]:
bts_gov_trps_df_lvl_cnty_no_cmms.dtypes

Level                              object
Date                               object
State FIPS                        float64
State Postal Code                  object
County FIPS                       float64
County Name                        object
Population Staying at Home          int64
Population Not Staying at Home      int64
Number of Trips                     int64
Number of Trips <1                  int64
Number of Trips 1-3                 int64
Number of Trips 3-5                 int64
Number of Trips 5-10                int64
Number of Trips 10-25               int64
Number of Trips 25-50               int64
Number of Trips 50-100              int64
Number of Trips 100-250             int64
Number of Trips 250-500             int64
Number of Trips >=500               int64
dtype: object

# ---------------------------------------------------------------------

#### Convert the ["Date"] Column to a datetime64[ns] Data Type in the County Level Dataframe

# ---------------------------------------------------------------------

In [ ]:
# Convert the ["Date"] Column from a String Data Type to a datetime64[ns] Data Type
bts_gov_trps_df_clnd_test["Date"]  = pd.to_datetime(bts_gov_trps_df_clnd_test["Date"])
print(type(bts_gov_trps_df_clnd_test["Date"][4]))
print(bts_gov_trps_df_clnd_test["Date"])

# ========================================

In [ ]:
# Count the Null Columns
null_columns = bts_gov_trps_df.columns[bts_gov_trps_df.isnull().any()]
bts_gov_trps_df[null_columns].isnull().sum()

In [ ]:
# Array of the Columns Where the Null Values will be Converted to 0
clmns_to_dlt_st_ntnl_totls =["County FIPS", "County Name"]

In [ ]:
# Drop the Rows that Contains Null (NaN) Values in the ["County FIPS"] and ["County Name"] Columns.
bts_gov_trps_df_clnd = bts_gov_trps_df.dropna(how="all", subset=clmns_to_dlt_st_ntnl_totls)
print(bts_gov_trps_df_clnd.count())
bts_gov_trps_df_clnd

In [ ]:
bts_gov_trps_df_clnd.dtypes

In [ ]:
bts_gov_trps_df_clnd_test.dtypes

In [ ]:
bts_gov_trps_df_clnd_test_grpby = bts_gov_trps_df_clnd_test.groupby(["State Postal Code", "County Name"])
bts_gov_trps_df_clnd_test_grpby

In [ ]:
# Create Some Plots to Look at the Data

date_fltr = (bts_gov_trps_df_clnd_test['Date'] <'2020-01-01') | (bts_gov_trps_df_clnd_test['Date']>'2020-11-21')
    
#     plt.scatter(x = group[date_filter_not]['air_pressure(mBar)'],
#                 y = group[date_filter_not]["wind_speed"],

for title, group in bts_gov_trps_df_clnd_test.groupby(["County FIPS"]):
    plt.plot(group[date_fltr]['Date'], 
             group[date_fltr]['Number of Trips']) 
#              subplots=True, 
#              title=title)
    fig = plt.gcf()
    
    plt.figure(figsize=(200,100))
#     fig.savefig(f"../images/{title}_wind_speed.png")

In [ ]:
# Filter Data on ["State Postal Code"] Column for "AK"
ak_df = bts_gov_trps_df_clnd_test[bts_gov_trps_df_clnd_test["County Name"] == "Adair County"]
ak_df

In [ ]:
st_cnt = bts_gov_trps_df["Population Staying at Home"].unique()
print(st_cnt)

In [ ]:
bts_gov_trps_df["Population Staying at Home"].value_counts()

In [ ]:
bts_gov_trps_df["VA Trip Totals"] = bts_gov_trps_df["Number of Trips <1"] + bts_gov_trps_df["Number of Trips 1-3"] + bts_gov_trps_df["Number of Trips 3-5"] +  bts_gov_trps_df["Number of Trips 5-10"] + bts_gov_trps_df["Number of Trips 10-25"] + bts_gov_trps_df["Number of Trips 25-50"] + bts_gov_trps_df["Number of Trips 50-100"] +bts_gov_trps_df["Number of Trips 100-250"] +bts_gov_trps_df["Number of Trips 250-500"] +bts_gov_trps_df["Number of Trips >=500"]

bts_gov_trps_df.head()

In [ ]:
# List of all the Columns in the Trips Dataframe
bts_gov_trps_df.columns

In [ ]:
bts_gov_trps_df.describe()

In [ ]:
bts_gov_trps_df["Number of Trips"].describe()

In [ ]:
# File Path for Importing the January 21, 2020 thru November 30, 2020 COVID-19 Data .csv File
NY_Tmes_COVID_20200121_to_20201130_file_pth = os.path.join("Resources", "github.com_nytimes_covid_19_data", "us-counties20200121_to_20201130.csv")

# Convert the CSV to a Dataframe
NY_Tmes_COVID_20200121_to_20201130_df = pd.read_csv(NY_Tmes_COVID_20200121_to_20201130_file_pth)

In [ ]:
NY_Tmes_COVID_20200121_to_20201130_df.head()

In [ ]:
NY_Tmes_COVID_20200121_to_20201130_df.tail()

In [ ]:
# # File Path for Importing the January 21, 2020 thru November 30, 2020 COVID-19 Data .csv File
# NY_Tmes_COVID_20201201_file_pth = os.path.join("Resources", "github.com_nytimes_covid_19_data", "us-counties20201201.csv")

# # Convert the CSV to a Dataframe
# NY_Tmes_COVID_20201201__df = pd.read_csv(NY_Tmes_COVID_20201201_file_pth)

In [ ]:
NY_Tmes_COVID_20200121_to_20201130_df.head()

In [ ]:
# # API Keys for the Zip-Codes API
# key = "?key="
# user_API_key = "QSTIRXQR7CN0Q8T9UGRT"
# url = "https://api.zip-codes.com/ZipCodesAPI.svc/1.0/QuickGetZipCodeDetails/"

# print(url + key + user_API_key)

In [ ]:
# New Column Header Names
zip_clmn_hdr_nm = "Zip_Code"
avg_auto_insrnc_rate_clmn_hdr_nm = "Average_Auto_Insurance_Rate"

In [ ]:
# The Number of Tables on Each Website
print(len(ASN_Table_2020))
# print(len(AutoInsurance_Tables))
# print(len(State_Abbreviations_Code_Table))

# Tables from Car Insurance (www.carinsurance.com)

## The Most and Lease Expensive Auto Insurance

In [ ]:
# Table of The Most and Lease Expensive Auto Insurance, Table #5, from CarInsurance (www.carinsurance.com)
mst_and_lst_expnsv_by_state_CarInsurance_df = CarInsurance_Tables[5]
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

# Resaved the DataFrame With Only the Columns Needed 
mst_and_lst_expnsv_by_state_CarInsurance_df = mst_and_lst_expnsv_by_state_CarInsurance_df[["State", "ZIP Code", "City", "Average Annual Rate"]]
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

# Changed the Names of the Column Headers
mst_and_lst_expnsv_by_state_CarInsurance_df = mst_and_lst_expnsv_by_state_CarInsurance_df.rename ({"ZIP Code" : zip_clmn_hdr_nm, "Average Annual Rate" : avg_auto_insrnc_rate_clmn_hdr_nm}, axis = 1)
mst_and_lst_expnsv_by_state_CarInsurance_df.head()

## The Most Expensive Auto Insurance

In [ ]:
# Table of The Most Expensive Auto Insurance, Table #6, from CarInsurance (www.carinsurance.com)
mst_expnsv_by_state_CarInsurance_df = CarInsurance_Tables[6]
mst_expnsv_by_state_CarInsurance_df.head()

# Resaved the DataFrame With Only the Columns Needed 
mst_expnsv_by_state_CarInsurance_df = mst_expnsv_by_state_CarInsurance_df[["State", "ZIP Code", "City", "Average Annual Rate"]]
mst_expnsv_by_state_CarInsurance_df.head()

# Changed the Names of the Column Headers
mst_expnsv_by_state_CarInsurance_df = mst_expnsv_by_state_CarInsurance_df.rename ({"ZIP Code" : zip_clmn_hdr_nm, "Average Annual Rate" : avg_auto_insrnc_rate_clmn_hdr_nm}, axis = 1)
mst_expnsv_by_state_CarInsurance_df.head()

# Tables from Auto Insurance (www.autoinsurance.org)

## The 25 Most Expensive Auto Insurance

In [ ]:
# Table of The 25 Most Expensive Auto Insurance, Table #3, from AutoInsurance (www.autoinsurance.org)
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df = AutoInsurance_Tables[3]
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

# Changed the Names of the Column Headers
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.rename ({"ZIP Code" : zip_clmn_hdr_nm, "Average Annual Auto Insurance Rates" : avg_auto_insrnc_rate_clmn_hdr_nm}, axis = 1)
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

# Add a New Column Called State, the Column is Empty
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"] = ""
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

# Reorder the Columns
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df[["State", zip_clmn_hdr_nm, "City", avg_auto_insrnc_rate_clmn_hdr_nm]]
_25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

## The 25 Lease Expensive Auto Insurance

In [ ]:
# Table of The 25 Lowest Expensive Auto Insurance, Table #4, from AutoInsurance (www.autoinsurance.org)
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df = AutoInsurance_Tables[4]
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

# Changed the Names of the Column Headers
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.rename ({"ZIP Code" : zip_clmn_hdr_nm, "Average Annual Auto Insurance Rates" : avg_auto_insrnc_rate_clmn_hdr_nm}, axis = 1)
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

# Add a New Column Called State, the Column is Empty
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df["State"] = ""
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

# Reorder the Columns
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df = _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df[["State", zip_clmn_hdr_nm, "City", avg_auto_insrnc_rate_clmn_hdr_nm]]
_25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df.head()

## The Highest and Lowest Auto Insurance Rates

In [ ]:
# Table of The Highest and Lowest Auto Insurance Rate, Table #5, from AutoInsurance (www.autoinsurance.org)
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df = AutoInsurance_Tables[5]
hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df.head()

### Create a DataFrame for the Least Expensive Auto Insurance Rates from hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df (Above)

In [ ]:
# Splitting Up The Table of The Highest and Lowest Auto Insurance Rate
lwst_avg_annl_auto_insrnc_rates_per_state_df = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df[["State", "Least Expensive Zip Code", "City", "Lowest Average Annual Auto Insurance Rates"]]
lwst_avg_annl_auto_insrnc_rates_per_state_df.head()

# Reorganize Column Headers and Rename Some of the Column Headers
lwst_avg_annl_auto_insrnc_rates_per_state_df = lwst_avg_annl_auto_insrnc_rates_per_state_df.rename ({"Least Expensive Zip Code" : zip_clmn_hdr_nm, "Lowest Average Annual Auto Insurance Rates" : avg_auto_insrnc_rate_clmn_hdr_nm}, axis = 1)
lwst_avg_annl_auto_insrnc_rates_per_state_df.head()

### Create a DataFrame for the Most Expensive Auto Insurance Rates from hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df (Two Cells Above)

In [ ]:
# Splitting Up The Table of The Highest and Lowest Auto Insurance Rate
hghst_avg_annl_auto_insrnc_rates_per_state_df = hghst_and_lwst_avg_annl_auto_insrnc_rates_per_state_df[["State", "Most Expensive Zip Code", "City.1", "Highest Average Annual Auto Insurance Rates"]]
hghst_avg_annl_auto_insrnc_rates_per_state_df.head()

# Reorganize Column Headers and Rename Some of the Column Headers
hghst_avg_annl_auto_insrnc_rates_per_state_df = hghst_avg_annl_auto_insrnc_rates_per_state_df.rename ({"Most Expensive Zip Code" : zip_clmn_hdr_nm, "City.1" : "City", "Highest Average Annual Auto Insurance Rates" : avg_auto_insrnc_rate_clmn_hdr_nm}, axis = 1)
hghst_avg_annl_auto_insrnc_rates_per_state_df.head()

# Combine All of the DataFrames into One DataFrame

In [ ]:
# Create a Variable with All of the Average Auto Insurace Tables (DataFrames)
lst_of_tbls = [mst_expnsv_by_state_CarInsurance_df, _25_mst_expnsv_auto_insrnc_rts_by_zip_cde_df, _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df, _25_lst_expnsv_auto_insrnc_rts_by_zip_cde_df, lwst_avg_annl_auto_insrnc_rates_per_state_df, hghst_avg_annl_auto_insrnc_rates_per_state_df]

# Concatenate All of the Average Auto Insurace Tables Together
avg_auto_insnc_concat_df = pd.concat(lst_of_tbls)
avg_auto_insnc_concat_df


## This Will Allow You to Reset the Index After Concatenating the DataFrames Together
# avg_auto_insnc_concat_df = pd.concat(lst_of_tbls, ignore_index = 'True')

# Data Clean UP

## Delete Dulpicate Data

### Deleted Rows with "Get Your Rates Quote Now" in Them

In [ ]:
# Evaluate Duplicate Data by Displaying the Number of Unique Values in the DataFrame
avg_auto_insnc_concat_df[zip_clmn_hdr_nm].value_counts()

In [ ]:
# Display Rows with "Get Your Rates Quote Now" in Them
avg_auto_insnc_concat_df[(avg_auto_insnc_concat_df[zip_clmn_hdr_nm] == "Get Your Rates Quote Now")]

In [ ]:
# Filtered the DataFrame then Created an Index List of all the Rows with "Get Your Rates Quote Now" in the City Column
drp_gt_your_rts_qute_nw_index = avg_auto_insnc_concat_df[(avg_auto_insnc_concat_df["City"] == "Get Your Rates Quote Now")].index
drp_gt_your_rts_qute_nw_index

In [ ]:
# Used the above Index List to drop all the rows with "Get Your Rates Quote Now"
avg_auto_insnc_concat_df = avg_auto_insnc_concat_df.drop(drp_gt_your_rts_qute_nw_index)
avg_auto_insnc_concat_df

In [ ]:
# Make Sure the Data was Deleted by Displaying the Number of Unique Values in the DataFrameNumber of Unique Values in the DataFrame
avg_auto_insnc_concat_df[zip_clmn_hdr_nm].value_counts()

### Delete the Duplicate Zip Codes from the DataFrame

#### Evaluate Duplicate Data

In [ ]:
# Evaluate Duplicate Data by Displaying the Number of Unique Values in the DataFrame Number
avg_auto_insnc_concat_df[zip_clmn_hdr_nm].value_counts()

#### Delete the Duplicate Rows in The DataFrame

In [ ]:
# Delete Rows with the Same Data
avg_auto_insnc_concat_df_drp_dplcts = avg_auto_insnc_concat_df.drop_duplicates()
avg_auto_insnc_concat_df_drp_dplcts

In [ ]:
# Make Sure the Data was Deleted by Displaying the Number of Unique Values in the DataFrameNumber of Unique Values in the DataFrame
avg_auto_insnc_concat_df_drp_dplcts[zip_clmn_hdr_nm].value_counts()

#### Reindex the DataFrame

In [ ]:
# Make an List of Values Incrementing by One
avg_auto_insnc_concat_index_list = []

for a in range(len(avg_auto_insnc_concat_df_drp_dplcts)):
#     print(a)
    avg_auto_insnc_concat_index_list.append(a)
avg_auto_insnc_concat_index_list

# Add a New Column Called Index and Append/Populate the Index Column with the Values from the avg_auto_insnc_concat_index_list List.
avg_auto_insnc_concat_df_drp_dplcts["Index"] = avg_auto_insnc_concat_index_list
avg_auto_insnc_concat_df_drp_dplcts

# Make the Index Column the Index for the DataFrame
avg_auto_insnc_concat_df_drp_dplcts = avg_auto_insnc_concat_df_drp_dplcts.set_index("Index")
avg_auto_insnc_concat_df_drp_dplcts

#### Create the .value_counts Series and Convert the Series into a DataFrame

In [ ]:
# Run .value_counts() on the avg_auto_insnc_concat_df DataFrame and Save the .value_count Series 
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_srs = avg_auto_insnc_concat_df_drp_dplcts[zip_clmn_hdr_nm].value_counts()
print(type(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_srs))
print()

# Convert the .value_counts Series into a DataFrame and Save the DataFrame
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df = pd.DataFrame(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_srs)
print(type(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df))
print()
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df

#### Create a DataFrame of the Zip Codes with a Value Count Greater than One

In [ ]:
# Change the Zip Code Column Header to Value Count
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df = avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df.rename ({zip_clmn_hdr_nm : "Value Count"}, axis = 1)
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df

In [ ]:
# Create a New DataFrame that was Filtered the Value Counts Column for Values Greater than 1 
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1 = avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df[(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_df["Value Count"] > 1)]
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1

In [ ]:
# Add a Column Header to the Index Column
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1.index.names = [zip_clmn_hdr_nm]
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1

# Make a List of Values Incrementing by One
dplcts_val_cnts_index_list = []

for a in range(len(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1)):
#     print(a)
    dplcts_val_cnts_index_list.append(a)
dplcts_val_cnts_index_list

# Add a New Column Called Index and Append/Populate the Index Column with the Values from the index_list List.
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1["Index"] = dplcts_val_cnts_index_list
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1

# Make the Index Column the Index for the DataFrame
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1 = avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1.reset_index().set_index("Index")
avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1

#### Delete the Remaining Duplicate Zip Codes

In [ ]:
# Print the length of the Average Auto Insurance DataFrame and Average Auto Insurance Value Counts DataFrame
print(f"This is the length of the Average Auto Insurance DataFrame: {len(avg_auto_insnc_concat_df_drp_dplcts)}")
print()
print(f"This is the length of the Average Auto Insurance Value Counts DataFrame: {len(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1)}")
print()

# Find And Print the Entire Row for the Remaining Duplicate Zip Codes
for y in range(len(avg_auto_insnc_concat_df_drp_dplcts)):
    
    for h in range(len(avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1)):
        
        if avg_auto_insnc_concat_df_drp_dplcts.iloc[y][zip_clmn_hdr_nm] == avg_auto_insnc_concat_df_drp_dplcts_val_cnts_grtr_thn_1.iloc[h][zip_clmn_hdr_nm]: 
            print(f"State: {avg_auto_insnc_concat_df_drp_dplcts.iloc[y]['State']}; \tCity: {avg_auto_insnc_concat_df_drp_dplcts.iloc[y]['City']}; \tZip Code: {avg_auto_insnc_concat_df_drp_dplcts.iloc[y][zip_clmn_hdr_nm]}; \tAverage Auto Insurance Rate: {avg_auto_insnc_concat_df_drp_dplcts.iloc[y][avg_auto_insrnc_rate_clmn_hdr_nm]}")

In [ ]:
# Data Types for the Columns in the avg_auto_insnc_concat_df_drp_dplcts DataFrame
avg_auto_insnc_concat_df_drp_dplcts.dtypes

In [ ]:
# Get the Index Number for the Data Filtered on: 48201, Detroit, Blank State, $30,350.09 from the avg_auto_insnc_concat_df_drp_dplcts DataFrame
drp_dplct_48201_zip_cd_index = avg_auto_insnc_concat_df_drp_dplcts[(avg_auto_insnc_concat_df_drp_dplcts[zip_clmn_hdr_nm] == "48201") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts["City"] == "Detroit") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts["State"] == "") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts[avg_auto_insrnc_rate_clmn_hdr_nm] == "$30,350.09")].index
test = drp_dplct_48201_zip_cd_index[0]
test

In [ ]:
# Get the Index Number for the Data Filtered on: 24450, Lexington, Blank State, $2,018.13 from the avg_auto_insnc_concat_df_drp_dplcts DataFrame
drp_dplct_24450_zip_cd_index = avg_auto_insnc_concat_df_drp_dplcts[(avg_auto_insnc_concat_df_drp_dplcts[zip_clmn_hdr_nm] == "24450") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts["City"] == "Lexington") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts["State"] == "") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts[avg_auto_insrnc_rate_clmn_hdr_nm] == "$2,018.13")].index
drp_dplct_24450_zip_cd_index[0]

In [ ]:
# Get the Index Number for the Data Filtered on: 06340, Groton, Delaware, $3,896.10 from the avg_auto_insnc_concat_df_drp_dplcts DataFrame
drp_dplct_06340_zip_cd_index = avg_auto_insnc_concat_df_drp_dplcts[(avg_auto_insnc_concat_df_drp_dplcts[zip_clmn_hdr_nm] == "06340") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts["City"] == "Groton") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts["State"] == "Delaware") & \
                                                                   (avg_auto_insnc_concat_df_drp_dplcts[avg_auto_insrnc_rate_clmn_hdr_nm] == "$3,896.10")].index
drp_dplct_06340_zip_cd_index[0]

##### Drop the Remaining Duplicate Data

In [ ]:
# Print the Number of Unique Items in avg_auto_insnc_concat_df_drp_dplcts
print("Values Before Dropping the Remain Duplicates")
print(avg_auto_insnc_concat_df_drp_dplcts[zip_clmn_hdr_nm].value_counts())
print()
print()

# Drop the Zip Codes from the Cell Above (Which includes: drp_dplct_48201_zip_cd_index[0], drp_dplct_24450_zip_cd_index[0], drp_dplct_06340_zip_cd_index[0])   
# avg_auto_insnc_concat_df_clnd = avg_auto_insnc_concat_df_drp_dplcts.drop([drp_dplct_48201_zip_cd_index, drp_dplct_24450_zip_cd_index, drp_dplct_06340_zip_cd_index])
avg_auto_insnc_concat_df_clnd = avg_auto_insnc_concat_df_drp_dplcts.drop([drp_dplct_48201_zip_cd_index[0], drp_dplct_24450_zip_cd_index[0], drp_dplct_06340_zip_cd_index[0]])

# Print the Number of Unique Items in avg_auto_insnc_concat_df_clnd, Do this to Make sure the Duplicate Data was Dropped
print("Values After Dropping the Remain Duplicates")
avg_auto_insnc_concat_df_clnd[zip_clmn_hdr_nm].value_counts()

# Add a State to a Blank Row in the State Column

In [ ]:
avg_auto_insnc_concat_df_clnd["City"]

In [ ]:
# Show all the Rows with no Data in the State Column
rows_wth_out_state = avg_auto_insnc_concat_df_clnd[(avg_auto_insnc_concat_df_clnd["State"] == "")]
rows_wth_out_state

## Put the State of Michigan into the Rows with Detroit as the City

In [ ]:
# Show all the Rows with Detroit
avg_auto_insnc_concat_df_clnd[(avg_auto_insnc_concat_df_clnd["City"] == "Detroit")]

In [ ]:
# Put the State of Michigan into the Rows with Detroit as the City
for x in range(len(avg_auto_insnc_concat_df_clnd)):

    if avg_auto_insnc_concat_df_clnd.iloc[x]["City"] == "Detroit" and avg_auto_insnc_concat_df_clnd.iloc[x]["State"] == "":
        
        avg_auto_insnc_concat_df_clnd.iloc[x]['State'] = "Michigan"
        
avg_auto_insnc_concat_df_clnd[(avg_auto_insnc_concat_df_clnd["City"] == "Detroit")]

## Replace the Blank State Row with the State Abbreviations

In [ ]:
# Show all the Rows with no Data in the State Column
rows_wth_out_state_df = avg_auto_insnc_concat_df_clnd[(avg_auto_insnc_concat_df_clnd["State"] == "")]
rows_wth_out_state_df

In [ ]:
# Use the Zip Code to Pull the State Abbreviation from the Zip-Codes.com API
for n in range(len(avg_auto_insnc_concat_df_clnd)):
    
    if avg_auto_insnc_concat_df_clnd.iloc[n]["State"] == "":

        zip_code = avg_auto_insnc_concat_df_clnd.iloc[n][zip_clmn_hdr_nm]

#         Make a Request to the Zip-Codes.com API for Each Row without a State
        zip_code_response = requests.get(url + zip_code + key + user_API_key).json()
        print(f"{url}{zip_code}{key}{user_API_key}")
        
#         Input the State Abbreviation into the DataFrame
        avg_auto_insnc_concat_df_clnd.iloc[n]["State"] = zip_code_response["State"]

In [ ]:
# Check to Make Sure All the Rows Have a State
avg_auto_insnc_concat_df_clnd[(avg_auto_insnc_concat_df_clnd["State"] == "")]

In [ ]:
type(zip_code_response)

In [ ]:
zip_code_response.keys()

In [ ]:
print(json.dumps(zip_code_response, indent =4, sort_keys = True))

## Replace the State Abbrevitions with the Full State Name

### View The State Abbreviations Code Table

In [ ]:
# Table of The State Abbreviations Code Table, Table #0, from app02.clerk.org
State_Abbreviations_Code_Table_df = State_Abbreviations_Code_Table[0]
print(type(State_Abbreviations_Code_Table_df))
print(len(State_Abbreviations_Code_Table_df))
print()
State_Abbreviations_Code_Table_df.head()

In [ ]:
State_Abbreviations_Code_Table_df.keys()

In [ ]:
# Replace all the Abbreviations with the Full State Name 
for t in range(len(State_Abbreviations_Code_Table_df)):

    for i in range(len(avg_auto_insnc_concat_df_clnd)):

        if State_Abbreviations_Code_Table_df.iloc[t]["Code"] == avg_auto_insnc_concat_df_clnd.iloc[i]["State"]:
            avg_auto_insnc_concat_df_clnd.iloc[i]["State"] = State_Abbreviations_Code_Table_df.iloc[t]["Description"]

In [ ]:
# Check to Make Sure All the Abbreviations are gone
avg_auto_insnc_concat_df_clnd["State"].value_counts()

In [ ]:
avg_auto_insnc_concat_df_clnd

In [ ]:
# Check to Make Sure All the Rows Have a State
avg_auto_insnc_concat_df_clnd[(avg_auto_insnc_concat_df_clnd["State"] == "")]

## Replace the $ and Commas

In [ ]:
# Remove the $ sign and commoas from each row in the Average_Auto_Insurance_Rate column
avg_auto_insnc_concat_df_clnd[avg_auto_insrnc_rate_clmn_hdr_nm] = avg_auto_insnc_concat_df_clnd[avg_auto_insrnc_rate_clmn_hdr_nm].str.replace("$", "")
avg_auto_insnc_concat_df_clnd[avg_auto_insrnc_rate_clmn_hdr_nm] = avg_auto_insnc_concat_df_clnd[avg_auto_insrnc_rate_clmn_hdr_nm].str.replace(",", "")
avg_auto_insnc_concat_df_clnd.dtypes

In [ ]:
# Check to make sure the $ and commas were removed
avg_auto_insnc_concat_df_clnd

# Export the Average Auto Insurnace DataFrame to a csv File

In [ ]:
avg_auto_insnc_concat_df_clnd.to_csv(exprt_pth, index=True, header=True)